/* Criando variáveis com CSS puro e usando-as!!!
Criar dentro do :root e com prefixo -- */
:root {
  --bg-buton: #f7f7f7;
  --border-button: solid 1px #0000001f;
}

.button {
  font-family: 'RobotoMono-Regular';
  color: #3a3a3a;
  font-size: 1.4em;
  /* Para usar elas, precisa da função var() */
  background-color: var(--bg-buton);
  border: var(--border-button);
  outline: none;
}

.button:active {
  background-color: #ececec;
}

.button.double {
  grid-column: span 2;
}

.button.triple {
  grid-column: span 3;
}

.button.operation {
  background-color: #fa8231;
  color: #fff;
}

.button.operation:active {
  background-color: #ff7920;
}
