.display {
  /* Expande a célula da grid em 4 colunas (ocupa as 4 colunas da linha) */
  grid-column: span 4;
  background-color: #0004;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  font-size: 2.1rem;
  overflow: hidden;
}
