@font-face {
  font-family: 'RobotoMono-Thin';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

@font-face {
  font-family: 'RobotoMono-Regular';
  src: url('./fonts/RobotoMono-Regular.ttf');
}

* {
  box-sizing: border-box;
  font-family: 'RobotoMono-Thin', monospace;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, #009fff, #ec2f4b);
  background-size: 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
